{% extends 'base.html' %}
{% load static %}

{% block nav_membership %}
active
{% endblock %}

{% block bottom_header %}
<!-- Bottom header -->
<header class="bottom-header mt-1 mb-1">
    <div class="container">
        <div class="row">
            <div class="logo col-4 col-md-3 mt-1 mb-1 text-center">
                <a href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}logo.png" alt="FFRCCC logo">
                </a>
            </div>
            <div class="col-8 col-md-9 text-center my-auto">
                <h2 class="d-none d-sm-block"><strong>We are an RC Car Club run by members for members.</strong></h2>
                <h6 class="d-sm-none"><strong>We are an RC Car Club run by members for members.</strong></h6>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Hero text -->
<section class="text-center mt-5 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Membership</h1>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- Membership card -->
<div class="container">
    <div class="row">
        <div class="col2 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <p>Joining the FFRCCC is straightforward. There is no joining fee, simply a modest annual subscription.</p>
            <p class="m-0">Membership entitles to unlimited use of the track at weekends and during Wednesday training sessions.
                Members also get a 10% discount on all products in the shop and free shipping. Do not hesitate, join us
                today!</p>
        </div>
    </div>
    <div class="row mb-5 mt-3">
        <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
            <div class="card rounded-0 bg-success text-white">
                <!-- 1 -->
                {% if subscription.status == "active" %}
                <div class="card-body">
                    <h1 class="card-title text-success mb-5">Hello {{request.user}} <i class="fas fa-exclamation"></i></h1>
                    <h5 class="card-subtitle mb-2"><strong>Your current membership status:</strong></h5>
                    <ul>
                        <li><h3>{{ product.name }} <i class="far fa-user"></i></h3></li>
                    </ul>
                </div>
                {% else %}
                <!-- 2 -->
                <div class="card-body">
                    <h1 class="card-title mb-5"><i class="fas fa-user"></i> Single</h1>
                    <h3 class="card-subtitle mb-2"><strong>&euro;40</strong></h3>
                    <hr class="mb-0 mt-1">
                    <p class="mb-5">1 year single membership</p>
                    {% if request.user.is_authenticated %}
                    <button type="submit" class="btn btn-danger text-uppercase rounded-0" id="submitBtn">Join
                        now</button>
                    {% else %}
                    <button class="btn btn-danger text-uppercase rounded-0" disabled>Join
                        now</button>
                    <p>You must <a href="{% url 'account_login' %}">login</a> to purchase membership.</p>
                    {% endif %}
                </div>
                {% endif %}
                <!-- end -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'membership/js/stripe_membership.js' %}"></script>
{% endblock %}