{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-12">
            <h2 class="m-0"><i class="fas fa-shopping-bag"></i> Your Shopping Bag</h2>
            {% if bag_items %}
            <a href="{% url 'empty_bag' %}" class="btn btn-sm btn-danger">Empty bag</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Items in bag -->
{% if bag_items %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-9">
            <table class="table align-middle">
                <thead class="bg-list">
                    <tr>
                        <th scope="col" class="text-center">Product</th>
                        <th scope="col">Details</th>
                        <th scope="col" class="text-center">Qty</th>
                        <th scope="col" class="text-center d-none d-md-table-cell">Subtotal</th>
                    </tr>
                </thead>
                {% for item in bag_items %}
                <tr>
                    <td class="text-center col-auto">
                        <div class="bag-img">
                            {% if item.product.image %}
                            <a href="{% url 'product_detail' item.item_id %}">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}"
                                    alt="{{ item.product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' item.item_id %}">
                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}no-image.png"
                                    alt="{{ item.product.name }}">
                            </a>
                            {% endif %}
                        </div>
                        <div class="remove pt-2">
                            <a class="remove-item text-danger" id="remove_{{ item.item_id }}"
                                data-product_turns="{{ item.turns }}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                    <td>
                        <a href="{% url 'product_detail' item.item_id %}">
                            <h6 class="my-0 text-dark underline"><strong>{{ item.product.name }}</strong></h6>
                        </a>
                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        {% if item.product.turns %}
                        <p class="my-0">Turns: <strong>{{ item.turns }}</strong></p>
                        {% endif %}
                        <p class="my-0">&euro;{{ item.product.price }}</p>
                    </td>
                    <td class="text-center">
                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                            {% csrf_token %}
                            <div class="input-group mx-auto">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm bg.transparent"
                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus text-success"></i>
                                            </span>
                                        </button>
                                    </div>
                                <input class="form-control qty_input text-center pt-0 pb-0 mb-1" type="number"
                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm bg-transparent"
                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus text-success"></i>
                                            </span>
                                        </button>
                                    </div>
                                {% if item.product.turns %}
                                <input type="hidden" name="product_turns" value="{{ item.turns }}">
                                {% endif %}
                            </div>
                        </form>
                        <a class="update-link text-success underline d-none" id="update{{ item.item_id }}"><small>Update
                                <span><i class="fas fa-shopping-bag"></i></span></small></a>
                    </td>
                    <td class="text-center d-none d-md-table-cell">
                        <p class="my-0">&euro;{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- Summary -->
        <div class="col-12 col-md-6 offset-md-6 offset-lg-0 col-lg-3">
            <div class="summary p-2">
                <div class="total-products">
                    <div class="row">
                        <div class="col-8">
                            <h6>Total products:</h6>
                        </div>
                        <div class="col-4 text-end">
                            <strong class="text-success">&euro;{{ total|floatformat:2 }}</strong>
                        </div>
                    </div>
                </div>
                <div class="discount pb-2">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="pt-2">
                                Discount:
                            </h6>
                        </div>
                    </div>
                    <div class="col-12 text-end">
                        <p class="mb-1"><span class="text-success">&euro;{{ discount|floatformat:2 }}</span></p>
                    </div>
                </div>
                <div class="delivery pb-2">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="pt-2">
                                Delivery:
                            </h6>
                        </div>
                    </div>
                    <div class="col-12 text-end">
                        <p class="mb-1">DHL (1 - 2 days) - <span
                                class="text-success">&euro;{{ delivery|floatformat:2 }}</span></p>
                    </div>
                </div>
                <div class="total pt-2">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="pt-2">
                                Grand Total:
                            </h6>
                        </div>
                        <div class="col-6">
                            <h5 class="pt-2 text-success text-end">
                                <strong>${{ grand_total|floatformat:2 }}</strong>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="checkout text-center">
                    <a href="{% url 'checkout' %}" class="btn btn-success">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <a href="{% url 'products' %}" class="text-success">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="alert alert-danger">
            <h2>Bag Empty</h2>
            <p class="lead mb-0">Your bag contains no items.</p>
        </div>
        <a href="{% url 'products' %}" class="text-success">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var turns = $(this).data('product_turns');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_turns': turns
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}