{% extends 'base.html' %}
{% load static %}

{% block nav_index %}
active
{% endblock %}

{% block bottom_header %}
<!-- Bottom header -->
<header class="bottom-header mt-1 mb-1">
    <div class="container">
        <div class="row">
            <div class="logo col-4 col-md-3 mt-1 mb-1 text-center">
                <a href="{% url 'home' %}">
                    <img src="../media/logo.png" alt="FFRCCC logo">
                </a>
            </div>
            <div class="col-8 col-md-9 text-center my-auto">
                <h2 class="d-none d-sm-block"><strong>Check out our online shop!</strong></h2>
                <h6 class="d-sm-none"><strong>Check out our online shop!</strong></h6>
                <a href="{% url 'shop' %}" class="btn btn-outline-danger fw-bold text-uppercase rounded-0">Visit
                    shop</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- hero section -->
<section class="hero-section container-fluid p-0">
    <div class="hero-image"></div>
    <div class="hero-text-wrapper text-white text-center">
        <p class="hero-text-1 m-0">Indoor&nbsp;RC&nbsp;racing</p>
        <p class="hero-text-2 m-0">Fast & Furious RC Car Club</p>
    </div>
</section>
<!-- About section -->
<section class="info-section mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="col-12">
                    <h2 class="text-center"><strong>About Us</strong></h2>
                </div>
                <div class="col-12">
                    <p><b>FFRCCC</b> is a long-established RC racing club, hosting racers young and old, novice
                        and experienced, and catering for electric RC cars on one of our expertly-designed indoor
                        carpet
                        track. The venue is set up with a full PA system and we use the latest Mylaps RC4 timing
                        system.</p>
                </div>
                <div class="col-12">
                    <p><b>What we race:</b>
                        At the FFRCCC we race electric cars only. The cars are 1/10th scale off-road, well-known
                        brands like Associated, X-Ray, Schumacher and Yokomo. There are a number of different brands
                        and
                        routes you can take to get into RC car racing, but the best way is to come to club and talk
                        to our
                        members before you buy anything.</p>
                </div>
                <div class="col-12">
                    <p><b>When we race:</b>
                        Racing is held every Sunday from 10am until approx. 5pm. We have a practise night on
                        Wednesday
                        evenings. We also host two multi-round championships each year.
                        Every Sunday there are between 20 and 35 racers, making it one of the more popular clubs in
                        Ireland.
                        We have racers from 7 years old to a lot older.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 offset-md-2 col-md-8">
        <img src="/media/club.jpg" class="img-fluid" alt="Club racings">
    </div>
</section>
<!-- Membership section -->
<section class="membership-section pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <h2><span class="me-4"><i class="fas fa-users text-success"></i></span><strong>Membership</strong></h2>
                <p class="col-12 col-md-8 offset-md-2 text-start">Membership entitles to unlimited use of the track at weekends and
                    during Wednesday training sessions.
                    Members also get a 5% discount on all products in the shop. Do not hesitate, join us today!
                </p>
                <a href="#" class="btn btn-danger text-uppercase rounded-0">Become a member</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}