{% extends 'base.html' %}
{% load static %}

{% block bottom_header %}
<!-- Bottom header -->
<header class="bottom-header mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="logo col-12 text-center text-md-left col-md-3 mt-2 mb-2">
                <a href="{% url 'home' %}">
                    <img src="../media/logo.png" alt="FFRCCC logo">
                </a>
            </div>
            <div class="col-12 text-center col-md-9 my-auto d-none d-sm-block">
                <h1 class="mt-2">Check out our online store!</h1>
                <a href="" class="btn btn-outline-danger btn-lg fw-bold mb-2 text-uppercase">Visit store</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- hero section -->
<section class="hero-section">
    <div class="container">
        <div class="hero-image"></div>
    </div>
    <div class="opaque-overlay">&nbsp;</div>
</section>
<!-- Info section -->
<section class="info-section mt-3 mb-3">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-5"><strong>Fast & Furious RC Car Club</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <h3><i class="fas fa-house-user d-block fa-2x"></i> The Club</h3>
                <p class="m-0">
                    FFRCCC is a long-established RC racing club, hosting racers young and old, novice
                    and experienced, and catering for electric RC cars on one of our expertly-designed indoor carpet
                    track. The venue is set up with a full PA system and we use the latest Mylaps RC4 timing system.
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <h3><i class="fas fa-car-side d-block fa-2x"></i> What we race</h3>
                <p class="m-0">
                    At the FFRCCC we race electric cars only. The cars are 1/10th scale off-road, well-known
                    brands like Associated, X-Ray, Schumacher and Yokomo. There are a number of different brands and
                    routes you can take to get into RC car racing, but the best way is to come to club and talk to our
                    members before you buy anything.
                </p>
            </div>
            <div class="col-12 col-lg-4">
                <h3><i class="fas fa-clock d-block fa-2x"></i> When we race</h3>
                <p class="m-0">
                    Racing is held every Sunday from 10am until approx. 5pm. We have a practise night on Wednesday
                    evenings. We also host two multi-round championships each year.
                    Every Sunday there are between 20 and 35 racers, making it one of the more popular clubs in Ireland.
                    We have racers from 7 years old to a lot older.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Membership section -->
<section class="membership-section pt-3 pb-3">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h4>Membership</h4>
                <p class="col-12 col-md-8 offset-md-2">Membership entitles to unlimited use of the track at weekends and
                    during Wednesday training sessions.
                    Members also get a 5% discount on all products in the store. Do not hesitate, join us today!
                </p>
                <a href="#" class="btn btn-danger">Become a member</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}