<!-- Search section -->
<section class="search-section text-center mt-5 mb-5">
    <div class="container col-12 col-lg-4">
        <div class="row">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Search in shop...">
                    <div class="input-group-append bg-gray">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>