{% extends 'base.html' %}
{% load static %}

{% block nav_news %}
active
{% endblock %}

{% block bottom_header %}
<!-- Bottom header -->
<header class="bottom-header mt-1 mb-1">
    <div class="container">
        <div class="row">
            <div class="logo col-4 col-md-3 mt-1 mb-1 text-center">
                <a href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}logo.png" alt="FFRCCC logo">
                </a>
            </div>
            <div class="col-8 col-md-9 text-center my-auto">
                <h2 class="d-none d-sm-block"><strong>Welcome to the news pages for our club.</strong></h2>
                <h5 class="d-sm-none"><strong>Welcome to the news pages for our club.</strong></h5>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- hero section -->
<section class="text-center mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>News & Articles</h1>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- News section -->
<section class="news-section">
    <div class="container">
        {% for post in news %}
        <div class="row mt-5">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <a href="{% url 'post_detail' post.id %}">
                    <h2 class="m-0 text-success underline"><strong>{{ post.title }}</strong></h2>
                </a>
                <p class="text-secondary"><small>Posted on {{ post.date_created }} | by {{ post.author }}</small></p>
                <p>{{ post.introduction|slice:":200" }}...</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}