{% extends 'base.html' %}
{% load static %}

{% block nav_news %}
active
{% endblock %}

{% block bottom_header %}
<!-- Bottom header -->
<header class="bottom-header mt-1 mb-1">
    <div class="container">
        <div class="row">
            <div class="logo col-4 col-md-3 mt-1 mb-1 text-center">
                <a href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}logo.png" alt="FFRCCC logo">
                </a>
            </div>
            <div class="col-8 col-md-9 text-center my-auto">
                <h2 class="d-none d-sm-block"><strong>Welcome to the news pages for our club.</strong></h2>
                <h5 class="d-sm-none"><strong>Welcome to the news pages for our club.</strong></h5>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Back to news -->
<div class="site-nav mt-3 mb-3 pt-1 pb-1 bg-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'news' %}" class="text-success">&lt; BACK TO NEWS</a>
            </div>
        </div>
    </div>
</div>

<article>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                {% if request.user.is_superuser %}
                <div class="ml-3">
                    <a href="{% url 'edit_post' post.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_post' post.id %}">Delete</a>
                </div>
                {% endif %}
                <h2><strong>{{ post.title }}</strong></h2>
                <p class="text-secondary"><small>Posted on <span id="date-created">{{ post.date_created }}</span> | by
                        {{ post.author }}</small></p>
                <p><strong>{{ post.introduction }}</strong></p>
                {{ post.content|safe }}
                <p class="text-secondary"><small>Last updated on <span class=""
                            id="last-updated">{{ post.last_updated }}</span></small></p>
            </div>
        </div>
    </div>
</article>
{% endblock %}