{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<h1>Hello in checkout</h1>
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var turns = $(this).data('product_turns');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_turns': turns
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}