@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background: #f1f1f1;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/*  */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.update-link,
.remove-item {
    cursor: pointer
}

.top-header {
    background: #262626;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    background-color: #007a47;
}

#menu .nav-link {
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 3px solid #007a47;
}

#menu a:hover {
    border-bottom: 3px solid #fff;
}

#menu .active {
    border-bottom: 3px solid #fff;
}

.navbar button {
    color: #fff;
}

.fa-bars {
    color: #fff;
}

.logo img {
    width: 150px;
}

/* ----------------------------------- index.html */
/* hero section */
.hero-section {
    position: relative;
}

.hero-image {
    height: 65vh;
    background: url('/media/hero-image.jpg') no-repeat center center;
    filter: brightness(25%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-1 {
    font-size: 80px;
    font-weight: 300;
    text-shadow: #000 -1px 0px, #000 0px 1px, #000 1px 0px, #000 0px -1px;
}

.hero-text-2 {
    font-size: 40px;
}

/* membership section */
.membership-section {
    background: #007a47;
    color: #fff;
}

/* ----------------------------------- products.html */

.img-holder {
    height: 140px;
    margin: 15px;
}

.img-holder img {
    height: 140px;
    width: 100%;
    transition: .5s;
}

.card:hover>.img-holder img {
    transform: scale(1.1);
}

.card:hover {
    border: 1px solid green;
}

/* form search button */
.bg-gray {
    background: #bbbaba;
}

.text-start {
    padding-left: 5px;
}

/* ----------------------------------- Media query */

@media (max-width: 768px) {

    .logo img {
        width: 100px;
    }
    .hero-image {
        height: 30vh;
    }

    .hero-text-1 {
        font-size: 40px;
    }

    .hero-text-2 {
        font-size: 20px;
    }
}