{% extends 'base.html' %}
{% load static %}

{% block nav_shop %}
active
{% endblock %}

{% block content %}
<section class="shop-welcome">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-2">Welcome to the FFRCCC's online shop!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <i class="far fa-clock d-block fa-3x"></i>
                <h4><strong>Same day shipping</strong></h4>
            </div>
            <div class="col-6 col-md-3">
                <i class="fas fa-headset d-block fa-3x"></i>
                <h4><strong>Product support</strong></h4>
            </div>
            <div class="col-6 col-md-3">
                <i class="fas fa-undo d-block fa-3x"></i>
                <h4><strong>Easy returns</strong></h4>
            </div>
            <div class="col-6 col-md-3">
                <i class="fas fa-euro-sign d-block fa-3x"></i>
                <h4><strong>Great prices</strong></h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}