{% extends "base.html" %}
{% load static %}

{% block nav_shop %}
active
{% endblock %}

{% block content %}
<!-- Back to shop -->
<div class="site-nav mt-3 mb-3 pt-1 pb-1 bg-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'products' %}" class="text-success">&lt; BACK TO SHOP</a>
            </div>
        </div>
    </div>
</div>
<!-- Hero section -->
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-12">
            <h2 class="m-0"><strong>Add New Product <i class="fas fa-folder-plus"></i></strong></h2>
        </div>
    </div>
</div>
<!-- Add form -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-ms-2 col-lg-6 offset-lg-3">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-outline-danger rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-success rounded-0" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}