{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Search section -->

{% include 'includes/search-section.html' %}

<!-- Sort -->
<div class="container">
    <div class="row text-end">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sort by...
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">Category</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Products section -->
<section class="products-section">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-6 col-md-6 col-lg-3 text-center mt-3">
                <div class="card h-100">
                    {% if product.category %}
                    <div class="small text-start">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                           </i>{{ product.category.friendly_name }}
                        </a>
                    </div>
                    {% endif %}
                    <div class="img-holder">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="/media/{{ product.image }}" class="card-img-top" alt="{{product.name}}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="/media/no_image.jpg" class="card-img-top" alt="{{product.name}}">
                            {% endif %}
                        </a>
                    </div>
                    </a>
                    <div class="card-body">
                        <a href="{% url 'product_detail' product.id %}">
                            <h6 class="card-title">{{product.name}}</h6>
                        </a>
                        <p class="card-text">{{product.price}}</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary mb-3">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}