{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Search section -->

{% include 'includes/search-section.html' %}

<!-- Product section -->
<section class="product-section">
    <div class="container">
        <div class="row">
            {% if product.category %}
            <div class="small text-start">
                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                    </i>{{ product.category.friendly_name }}
                </a>
            </div>
            {% endif %}
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                    <a href="/media/{{ product.image }}" target="_blank">
                        <img class="img-fluid" src="/media/{{ product.image }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="mb-0 text-left">${{ product.price }}</p>
                    {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}