{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Search section -->

{% include 'products/includes/search-section.html' %}

<!-- Sort -->
<div class="container">
    <div class="row text-end">
        <div class="col-6 col-md-4 col-xl-3 offset-6 offset-md-8 offset-xl-9 p-1">
            <select id="sort-selector"
                class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                    high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                    to low)</option>
                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low
                    to high)</option>
                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating
                    (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                </option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                </option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                    (A-Z)</option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                    Category (Z-A)</option>
            </select>
        </div>
    </div>
</div>

<!-- Products section -->
<section class="products-section">
    <div class="container">
        <div class="row">
            <ul>
                {% for c in current_categories %}
                <li><a href="{% url 'products' %}?category={{ c.name }}">{{ c.friendly_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-6 col-md-6 col-lg-3 text-center mt-3">
                <div class="card h-100">
                    {% if product.category %}
                    <div class="small text-start">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            </i>{{ product.category.friendly_name }}
                        </a>
                    </div>
                    {% endif %}
                    <div class="img-holder">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="/media/{{ product.image }}" class="card-img-top" alt="{{product.name}}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="/media/no_image.jpg" class="card-img-top" alt="{{product.name}}">
                            {% endif %}
                        </a>
                    </div>
                    </a>
                    <div class="card-body">
                        <a href="{% url 'product_detail' product.id %}">
                            <h6 class="card-title">{{product.name}}</h6>
                        </a>
                        <p class="card-text">{{product.price}}</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary mb-3">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- JS sort functionality -->
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}