{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Search section -->

{% include 'includes/search-section.html' %}

<!-- Products section -->
<section class="products-section">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-6 col-md-6 col-lg-3 text-center mt-3">
                <div class="card h-100">
                    <div class="img-holder">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="/media/{{ product.image }}" class="card-img-top" alt="{{product.name}}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="/media/no_image.jpg" class="card-img-top" alt="{{product.name}}">
                            {% endif %}
                        </a>
                    </div>
                    </a>
                    <div class="card-body">
                        <a href="{% url 'product_detail' product.id %}">
                            <h6 class="card-title">{{product.name}}</h6>
                        </a>
                        <p class="card-text">{{product.price}}</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary mb-3">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}