<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success">
        <strong class="me-auto">Success</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{message}}
    </div>
    {% if grand_total %}
    <p class="logo-font bg-white text-black py-1">Your Bag ({{ product_count }})</p>
    <div class="bag-notification-wrapper">
        {% for item in bag_items %}
        <div class="row">
            <div class="col-3 my-1">
                <img class="w-100" src="{{ item.product.image.url }}">
            </div>
            <div class="col-9">
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <p class="my-0 small">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}
                </p>
                <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>